

.location-info{
    width: 100%;
    height: 70%;
    position: relative;
    background: #00c6ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4B92EE, #336CD9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4B92EE, #336CD9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  

    .date-time{
     
        font-family: 'Sarabun', sans-serif;
        font-weight: 300;
        color: white;
        position: absolute;
        top: 5%;
        left: 3%;
        h2{
            font-size: 0.9rem;
        }
        h3{
            
            font-size: 0.75rem;
            margin-top: 1%;
        }

    }

    .location-data{
    font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: white;
      position: absolute;
      top: 70%;
      left: 2%;

      h1{
        margin: 0 0 0 0;
        font-size: 3rem;
      }
      h3{
        font-family: 'Sarabun', sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
        margin: 0 0 0 0;
      }
    }

    .temperature{
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        color: white;
        position: absolute;
        top: 65%;
        right: 2%;

        h1{
            font-weight: 800;
            font-size: 7rem;
        }

    }
    
}