.weather-image{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15%;
    left: 35%;
    //border: 2px solid red;
  
   

    h1{
        z-index: 10;
        color: white;
    }
}